body {
  width: 300px;
  min-height: 200px;
}

#selectTestSuite {
  width: 260px !important;
  max-width: 260px;
  #overflow: scroll;
  #overflow-wrap: break-word;
  #text-overflow: ellipsis;
  #white-space: nowrap;
  font-size: 12px;
}

#selectTestSuite option {
  width: 260px !important;
  max-width: 260px;
  font-size: 12px;
}

#loginButton {
  /*
  background-color: #d83f87;
  font-weight: 600 !important;
  width: 260px;
  margin-top: 10px;
  height: 65px;
  font-weight: 400;
  font-size: 22px;
  opacity: 1 !important;
  border-radius: 4px;
  font-family: 'Lato' !important;
  color: white;
  border: 1px solid #d83f87;
  #font-weight: 400;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-family: 'Lato' !important;
  margin-bottom:30px;
  */
  width: 120px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  background-color: #d83f87;
}

#containerForLoginButton {
  width: 120px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#startRecordingButtonNew {
  width: 40px;
  height: 40px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

#addStepButtonNew {
  width: 40px;
  height: 40px;
  background-color: #f4511e;
  background-image: url("/images/baseline_playlist_add_black_36dp.png");
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: center;
  background-size: 30px 30px;
}

#addStepButtonNew:hover {
  cursor: pointer;
  background-image: url("/images/baseline_playlist_add_white_36dp.png");
  background-size: 30px 30px;
}

#container_for_settings {
  position: relative;
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  margin-top: 40px;
  height: 360px;
}

#instructions_for_blacklist_classes {
  width: 250px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

#done_button {
  width: 120px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  background-color: #d83f87;
}

#done_button:hover {
  cursor: pointer;
  background-color: #44318d;
}

#container_for_done_button {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#settings_icon {
  width: 30px;
  height: 30px;
  float: right;
  background-image: url("/images/baseline_settings_black_48dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 27px;
  margin-top: -20px;
  margin-right: 5px;
}

#settings_icon:hover {
  cursor: pointer;
}

.settings_hidden {
  display: none;
}

.containerForButtons {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 40px;
}

#container_for_start_recording_button {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#containerForStopRecordingButton {
  width: 172px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#startRecordingButton {
  width: 140px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: #d83f87;
}

#stopRecordingButton {
  width: 40px;
  height: 40px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ef5350;
  display: inline-block;
  background-color: #ef5350;
  background-image: url("/images/baseline_stop_black_18dp.png");
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: center;
  background-size: 30px 30px;
}

.paused_button {
  background-image: url("/images/baseline_play_arrow_black_18dp.png") !important;
}

.not_paused_button {
  background-image: url("/images/baseline_pause_black_18dp.png");
}

.not_paused_button:hover {
  background-image: url("/images/baseline_pause_white_18dp.png");
}

.paused_button:hover {
  background-image: url("/images/baseline_play_arrow_white_18dp.png") !important;
}

#pauseRecordingButton {
  width: 40px;
  height: 40px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #29B6F6;
  display: inline-block;
  background-color: #29B6F6;
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: center;
  background-size: 30px 30px;
  background-image: url("/images/baseline_pause_black_18dp.png");
}

#takeScreenshotButton {
  width: 40px;
  height: 40px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #81C784;
  display: inline-block;
  background-color: #81C784;
  background-image: url("/images/baseline_camera_alt_black_18dp.png");
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: center;
  background-size: 30px 30px;
}

#addAssertionButton {
  width: 40px;
  height: 40px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #90A4AE;
  display: inline-block;
  background-color: #90A4AE;
  background-image: url("/images/baseline_playlist_add_black_18dp.png");
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: center;
  background-size: 30px 30px;
}

#messageContainerForPause {
  font-size: 12px;
  width: 230px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

#blacklist_classes {
  resize: none;
  width: 230px;
  height: 90px;
}

#container_for_blacklist_classes {
  margin-top: 5px;
  width: 230px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

#saveRecordingButton {
  font-weight: 600 !important;
  width: 100px;
  margin-bottom: 0px;
  height: 40px;
  font-size: 14px;
  opacity: 1 !important;
  border-radius: 4px;
  font-family: 'Lato' !important;
  color: #141414;
  border: 1px solid #141414;
  text-decoration: none;
  background-color: white !important;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
  float: left;
}

#cancelRecordingButton {
  border: 1px solid #424242;
  border-radius: 4px;
  background-color: #424242;
  color: #f5f5f5;
  opacity: 1;
  font-weight: 600 !important;
  font-family: 'Lato' !important;
  margin-left: 6px;
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
  float: left;
}

#containerForSaveAndCancelButtons {
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 40px;
  margin-top: 10px;
}

#containerForLogin {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  margin-top: 20px;
  display: none;
}

#containerForStartRecording {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  margin-top: 15px;
  display: none;
}

#containerForCurrentlyRecording {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  margin-top: 20px;
  display: none;
}

#containerForStoppedRecording {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  margin-top: 20px;
  display: none;
  height:185px;
}

#containerForRecordedSteps {
  max-height: 400px;
  overflow-y: scroll;
  padding-left: 30px;
  font-size: 12px !important;
  min-height: 52px;
}

#loginButton:hover, #startRecordingButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  border: 1px solid #44318d;
  cursor: pointer;
  background-color: #44318d;
}

#pauseRecordingButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  border: 1px solid #0277BD;
  cursor: pointer;
  background-color: #0277BD;
  background-image: url("/images/baseline_pause_white_18dp.png");
}

#stopRecordingButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  border: 1px solid #c62828;
  cursor: pointer;
  background-color: #c62828;
  background-image: url("/images/baseline_stop_white_18dp.png");
}

#takeScreenshotButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  border: 1px solid #2E7D32;
  cursor: pointer;
  background-color: #2E7D32;
  background-image: url("/images/baseline_camera_alt_white_18dp.png");
}

#addAssertionButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
  border: 1px solid #455A64;
  cursor: pointer;
  background-color: #455A64;
  background-image: url("/images/baseline_playlist_add_white_18dp.png");
}

#saveRecordingButton:hover {
  opacity: 1;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #44318d;
  color: #44318d;
  cursor: pointer;
  background-color: #44318d;
}

#cancelRecordingButton:hover {
  opacity: 0.9;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.loginInput {
  width: 260px !important;
  padding-top: 0px !important;
  margin-top: 7px !Important;
  margin-bottom: 7px !important;
  height: 40px !important;
  font-size: 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  #color: #191919;
  color: #141414;
  #border: 1px solid #778899;
  border: 1px solid #141414;
  /*color:#757575 !important;*/
  # box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  filter: grayscale(100%) -webkit-filter: grayscale(100%);
}

#userEmailLoginInput {
  background-image: url("/images/mail.png");
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-position: 225px 8px;
  background-size: 22px 22px;
  opacity: 1;
  background-color: white !important;
}

#urlInput {
  #background-image: url("/images/mail.png");
  #background-repeat: no-repeat;
  padding-left: 20px !important;
  #background-position: 320px 8px;
  #background-size: 22px 22px;
  ยง opacity: 1;
  background-color: white !important;
  font-size: 14px;
  margin-bottom: 0px !important;
}

#newTestSuiteRadio {
  margin-left: 15px;
}

#existingTestSuiteRadio, #newTestSuiteRadio {
  #margin-bottom: 10px;
  #margin-top: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#startFromUrlRadio, #startFromHereRadio {
  #margin-bottom: 10px;
  #margin-top: 10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#containerForRadioInputsAtStart {
  margin-bottom: 10px;
}

#containerForSaveRadioOptions {
  margin-top: 0px;
}

#startFromHereRadio {
  margin-left: 32px;
}

label[for="existingTestSuiteRadio"], label[for="newTestSuiteRadio"],
label[for="startFromUrlRadio"], label[for="startFromHereRadio"] {
  font-size: 12px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

label[for="existingTestSuiteRadio"]:hover, label[for="newTestSuiteRadio"]:hover,
label[for="startFromUrlRadio"]:hover, label[for="startFromHereRadio"]:hover {
  cursor: pointer;
}

#existingTestSuiteRadio:hover, #newTestSuiteRadio:hover, #startFromUrlRadio:hover, #startFromHereRadio:hover {
  cursor: pointer;
}

#errorForTestCaseName, #errorForNewTestSuiteName {
  padding-left: 8px !important;
}

label {
  margin-left: 3px;
}

#testCaseNameInput, #newTestSuiteName {
  padding-left: 7px !important;
  opacity: 1;
  font-size: 12px;
  background-color: white !important;
}

#newTestSuiteName {
  display: none;
}

#userEmailLoginInput:focus, #userPasswordLoginInput:focus {
  border: 1px solid #778899 !important;
  /*rgba(81, 203, 238, 1) !important;*/
}

#userPasswordLoginInput {
  background-image: url("/images/unlocked.png");
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-position: 225px 8px;
  background-size: 22px 22px;
  background-color: white !important;
  opacity: 1;
}

#containerForLoginTitle {
  font-size: 22px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Lato' !important;
  font-weight: 260;
  text-align: center;
  display: none;
}

#rainbowForSignup {
  width: 260px;
  height: 1px;
  background-repeat: repeat-x;
  background-image: url("/images/color.png");
  margin-top: 16px;
  margin-bottom: 14px;
}

#containerForLogo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 109px;
  height: 20px;
  background-image: url("/images/endtest_logo.png");
  background-repeat: no-repeat;
  background-size: 109px 20px;
}

#errorForUrlInput {
  height: 12px;
  width: 203px;
  background-color: transparent;
  color: rgb(255, 92, 97);
  font-size: 10px;
  #position: absolute;
  #margin-top: -23px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-align: center;
}

.errorFront {
  width: 250px;
  padding-left: 21px;
  background-color: transparent;
  color: rgb(255, 92, 97);
  font-size: 10px;
  position: absolute;
  margin-top: -23px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.label_for_option {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  top: -10;
  font-size: 12px;
}

.recording_option {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 19px;
  line-height: 19px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}
